* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    font-family: monospace;
}

a {
	color: #000;
    text-decoration: none;
    position: relative;
}

a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background: linear-gradient(
        to right,
        #000 40%,
        rgb(255, 255, 255, 0) 40% 60%,
        #000 60%
    );
    bottom: 5px;
    left: 0;
    transform-origin: left;
    transform: scaleX(1);
    transition: transform .3s ease-in-out;
}

a:hover::before {
    /* background-color: #000; */
    transform-origin: right;
    transform: scaleX(0);
}

/* Calculator */
#calculator {
    border: solid 1.5px #fff;
    border-radius: 10px;
    background-color: #6c757d;
    width: 300px;
    height: 400px;
    margin: auto;
    padding: 35px 30px 40px 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#calculation-area {
    background-color: #fff;
    height: 100px;
    opacity: 95%;
    border-radius: 5px;
    margin-left: 5px;
    margin-bottom: 20px;
    padding: 12.5px;
    text-align: right;
}

#topCalcDisp {
    color: #6c757d;
    font-size: 25px;
    overflow: scroll;
}

#bottomCalcDisp {
    color: #000;
    font-size: 40px;
    overflow: scroll;
}

.scale-animation {
    animation-name: scale1;
    animation-duration: .1s;
    animation-iteration-count: 1;
}

.btn-rows button {
    background-color: #000;
    color: #fff;
    width: 45px;
    height: 35px;
    border: none;
    border-radius: 5px;
    font-family: monospace;
    font-size: 18px;
    margin-left: 5px;
    margin-bottom: 10px;
}

.btn-num:active,
.btn-decimal:active,
.btn-click-anim {
    animation-name: btn-click;
    animation-duration: .1s;
    animation-iteration-count: 1;
}

.btn-rows .btn-optr {
    background-color: #f0c107;
}

.btn-rows .btn-del {
    background-color: #dc3545;
}

.btn-rows .btn-big {
    width: 102.5px;
}

.btn-rows .btn-output {
    background-color: #198754;
}

.btn-rows button:hover {
    cursor: pointer;
}

/* Math Constants Dropdown */
#mathConstantsDropdown {
    color: #fff;
    font-size: 20px;
    max-width: 200px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
}

@media all and (-webkit-min-device-pixel-ratio:0) and (min-color-index:0) {
    #mathConstantsDropdown summary {
        background-color: #fff;
        color: #000;
        text-align: center;
        width: 200px;
        border-radius: 8px;
        margin-bottom: 50px;
        box-shadow: 0 0 40px 10px #fff, 0 0 100px 0 #fff inset;
        -moz-box-shadow: 0 0 40px 10px #fff, 0 0 100px 0 #fff inset;
        -webkit-box-shadow: 0 0 40px 10px #fff, 0 0 100px 0 #fff inset;
        -ms-box-shadow: 0 0 40px 10px #fff, 0 0 100px 0 #fff inset;
        -o-box-shadow: 0 0 40px 10px #fff, 0 0 100px 0 #fff inset;
    }
}

#mathConstantsDropdown li {
    font-size: 15px;
    text-align: left;
    list-style-type: none;
    margin-bottom: 10px;
}

#mathConstantsDropdown li[value="π"] {
    margin-top: -40px;
}

@keyframes scale1 {
    100% {
        transform: scale(1.1);
    }
}

@keyframes btn-click {
    100% {
        transform: scale(1.1);
        box-shadow: 0 0 5px 5px #f0f0f0;
    }
}