/* Everything */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    padding-top: 3rem;
}

/* Calculator */
#calculator {
    border-style: solid;
    border-width: 1rem;
    border-color: #808080;
    border-radius: 0.5rem;
    width: 25rem;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

.numbers-area {
    padding-left: 3rem;
    padding-right: 2.5rem;
    margin-bottom: 1rem;
}

.calculation-area {
    background-color: #ffff00;
}

.result-area {
    background-color: #000;
}

.calculation-area,
.result-area {
    height: 3rem;
    opacity: 25%;
    border-radius: 0.5rem;
}

.button-rows {
    padding-bottom: 0.5rem;
    text-align: right;
    padding-left: 5.13rem;
    padding-right: 5.5rem;
}